body {
  margin: 0 !important;
  padding: 0 !important;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}


.square {
  background: #ecb67e;
  border: 1px solid #eaeaea;
  float: left;
  font-size: 111px;
  font-weight: bold;
  line-height: 34px;
  height: 142px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 142px;
} 

nav{
  display: flex;
  background: #ecb67e;
}

h1{
  margin-left: 15px;
}

.game-board, .game-info{
  margin:auto;
  margin-top: 30px;
}

li{
  margin-top: 5px;
  margin-bottom: 5px;
}

.stepButton{
  background: #ecb67e;
  width: 130px;
  height: 30px;
  border: 0;
}

h3{
  text-align: center;
}